@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

html {
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
}

section {
    padding: 1rem;
}

h3 {
    margin-bottom: 0;
}

.bi {
    font-size: 1.5rem;
}

:root {
    /* theme colors */
    --primary: #076AFF;
    --secondary: #61a0ff;
    --tertiary: #a4c9ff;
    --text-in-primary: #ffffff;
    --text-default: #000000;

    /* card colors */
    --card-blue: #EEF7FF;
    --card-green: #E6FFF0;
    --card-red: #FFE6E6;
    --card-orange: var(--caution-bg);

    --card-text-blue: #00A3FF;
    --card-text-green: #00FF66;
    --card-text-red: #FF0000;
    --card-text-orange: var(--caution-fg);

    /* caution colors */
    --caution-fg: #FFBB6A;
    --caution-bg: #FFECE6;

    /* button colors */
    --button-pri: #FFB26A; 

    /* notification colors */
    --noti-pri: #6AA6FF;
    --noti-red: #FF7979;
    --noti-green: #72FF6F;
}

.logo {
    height: 4rem;
}

.search-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 9fr 1fr;
}

.search.bar {
    border-radius: 5px;
    box-shadow: 0px 1px 1px black inset;
}

.header-container {
    display: flex;
    background-color: var(--primary);
    color: var(--text-in-primary);
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.header-container > a > .button {
    padding: 1rem;
    background-color: var(--noti-red);
}

.navbar-button {
    font-weight: 600;
    color: white;
    padding: 1rem;
    background-color: crimson;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: var(--card-text-blue);
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 500;
    color: var(--text-in-primary);
    border: none;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
}

* {
    font-family: 'Inter';
}

.table {
    display: grid;
}

.table > .row {
    display: grid;
    padding: 1rem 1rem;
    align-items: center;
    border-radius: 5px;
}

.row > .item {
    flex-grow: 1;
    padding: 1rem;
}

.item.head {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 0rem 0.5rem;
    color: white;
}

input[readonly] {
    border-radius: 5px;
    width: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
}

input[readonly]:hover {
    transform: none;
    cursor: pointer;
}

.bld {
    font-weight: 600;
}

form.disabled {
    opacity: 25%;
    cursor: not-allowed;
}